POSTGRES_USER=user_name
POSTGRES_PASSWORD=password
POSTGRES_HOST=postgres_db
POSTGRES_PORT=5432
POSTGRES_DB=db_name

BOT_TOKEN=4839574812:AAFD39kkdpWt3ywyRZergyOLMaJhac60qc
ADMIN_TG_ID=1234567891
ADMIN_USERNAME=Username

TEST_POSTGRES_USER=user_name
TEST_POSTGRES_PASSWORD=password
TEST_POSTGRES_HOST=test_db
TEST_POSTGRES_PORT=5433
TEST_POSTGRES_DB=test_db_name
